body {
    background-color: lightgray;
    font-family: arial;
}

.header {
    color: Black;
    margin-left: 10px;
    font-size: 24px;
}

.lable {
	font-size: 20px;
	padding: 0px;
	font-weight: bold;
}

.nav {
	
}